.white-color{
  color:white;
}

.list__wrapper__item__info__second-column--buttons--main-button{
  &:hover + .list__wrapper__item__info__second-column--buttons--change-status {
    visibility: visible;
  }
}

.list__wrapper__item__info__second-column--buttons--change-status{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:100%;
  padding-right:5px;
  order:-1;
  visibility:hidden;
  &:hover{
    visibility: visible;
  }
}

.list__wrapper__item__info__second-column--buttons--change-status--status {
  display:flex;
  align-items: center;
  position: relative;
}

.list__wrapper__item__info__second-column--buttons--change-status--circle {
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  border-radius: 20px;
  width:70px;
  height:30px;
  padding: 15px;
  order:1;
  cursor: pointer;
}
