.friends {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.friends__item {
  display: flex;
  border: 1px solid $secondaryBackgroundColor;
}

.friends__item--large{
  height:100px;
  width:400px;
  margin:0.5vw auto 0;
  font-size: 0.9rem;
}

.friends__item--picture {
  cursor: pointer;
  width: 120px;
}

.friends__item--picture--img {
  display: block;
  width: 100%;
  height: 100%;
}

.friends__item__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.friends__item__info__first-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.friends__item__info__first-column--name--span {
  cursor: pointer;
  color: $primaryColor;
  font-weight: bold;
  transition: 0.2s text-decoration;
  &:hover {
    text-decoration: underline;
  }
}

.friends__item__info__first-column--amounts-of-friends{
  margin-top:3%;
}

.friends__item__info__first-column--amounts-of-friends--span {
  color: $greyTextAuthColor;
}
.friends__item__first-column--status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friends__item__info__second-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.friends__item__info__second-column--status{
  display:flex;
  height:100%;
}

.friends__item__info__second-column--status--change-status{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:100%;
  padding-right:5px;
  order:-1;
  visibility:hidden;
  &:hover{
    visibility: visible;
  }
}


.friends__item__info__second-column--status--change-status--status {
  display:flex;
  align-items: center;
  position: relative;
}


.friends__item__info__second-column--status--change-status--circle {
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  border-radius: 20px;
  width:70px;
  height:30px;
  padding: 15px;
  order:1;
  cursor: pointer;
  &:hover:focus-within {
    display: none;
  }
}

.friends__item__info__second-column--status--now{
  display:flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: white;
  font-size: 0.8rem;
  border-radius: 20px;
  width:70px;
  height:30px;
  padding: 15px;
  margin-right:5px;
  &:hover + .friends__item__info__second-column--status--change-status {
    visibility: visible;
  }
}
