.post__item{
    display:flex;
    flex-direction: column;
    width:850px;
    box-shadow: 0 0 3px 1px $shadowColor;
    border:1px solid $shadowColor;
}

.post__item__downbar{
    margin-bottom:10px;
}

.post__item__comments{
    border-top:1px solid $shadowColor;
}

.post__item__comments__input{
    padding:10px;
}

.post__item__comments__more-content{
    margin:5px 0 5px 10px;
    color:$primaryColor;
    cursor:pointer;
}



@media(max-width:1023px) and(orientation:portrait){
    .downbar-buttons{
        font-size: 1.1rem;
    }
}

