.group-info{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:100vh;
    max-width:1920px;
    margin: 0 auto;
}
.group-info__item{
    display:flex;
    justify-content: space-between;
    margin:0 $smallMargin;
}

.group-info__item__name--span{
    font-weight: bold;
}