.list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .list__wrapper{
    width:50%;
  }

  .list__wrapper:nth-child(even) .list__wrapper__item{
    margin-right:calc((100% - 400px)*2/3);
    margin-left:calc((100% - 400px)*1/3)
  }

  .list__wrapper:nth-child(odd) .list__wrapper__item{
    margin-right:calc((100% - 400px)*1/3);
    margin-left:calc((100% - 400px)*2/3)
  }
  
  .list__wrapper__item {
    display: flex;
    height:100px;
    width:400px;
    margin:0.5vw auto 0;
    font-size: 0.85rem;
    border: 1px solid $secondaryBackgroundColor;
  }
  
  .list__wrapper__item--picture {
    cursor: pointer;
  }
  
  .list__wrapper__item--picture--img {
    display: block;
    height: 100%;
    width:100px;
    object-fit: cover;
  }
  
  .list__wrapper__item__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .list__wrapper__item__info__first-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
  }
  
  .list__wrapper__item__info__first-column--name--span {
    cursor: pointer;
    color: $primaryColor;
    font-weight: bold;
    transition: 0.2s text-decoration;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .list__wrapper__item__info__first-column--number{
    margin-top:10px;
  }
  
  .list__wrapper__item__info__first-column--number--span {
    color: $greyTextAuthColor;
  }

  .list__wrapper__item__first-column--status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .list__wrapper__item__info__second-column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list__wrapper__item__info__second-column--buttons{
    display:flex;
    height:100%;
  }
  
  .list__wrapper__item__info__second-column--buttons--main-button{
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 0.8rem;
    width:70px;
    height:30px;
    padding: 15px;
    border:1px solid $shadowColor;
    border-radius: 20px;
    margin-right:5px;
  }
  
  .list__wrapper__item__info__second-column--buttons--main-button--span{
    &::first-letter{
      text-transform: uppercase;
    }
  }

  .image-radius{
    border-radius:5px;
  }
  
  .button-join{
    border:1px solid $shadowColor;
    border-radius:5px;
    transition:background-color 0.2s;
    cursor:pointer;
    &:hover{
        background-color:$secondaryBackgroundColor;
    }
  }
  