.confrim-user-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.confrim-user-container__content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 50vh;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
}

.confrim-user-container__content--title--h3 {
  text-align: center;
  font-size: 2rem;
}

.confrim-user-container__content--icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

.confrim-user-container__content__data {
  margin-top: $mediumMargin;
}
.confrim-user-container__content__data__form {
  display: flex;
  flex-direction: column;
}

.confrim-user-container__content__data__form__input{
  
  display: flex;
  justify-content:center;
  width:100%;
}

.confrim-user-container__content__data__form--button {
  display: flex;
  justify-content: flex-end;
  margin: $smallMargin 5% 0 0;
}

@media (max-width:1365px){
  .confrim-user-container__content{
    width:50vw;
    height:60vh;
  }
}

@media (max-width:1365px){
  .confrim-user-container__content{
    width:60vw;
    height:70vh;
  }
}


@media (max-width:767px){
  .confrim-user-container__content{
    width:90vw;
    height:80vh;
  }
}

@media (max-width:767px) and (orientation:portrait){
  .confrim-user-container__content--title--h3 {
    font-size: 1.7rem;
  }
  .confrim-user-container__content{
    width:90vw;
    height:60vh;
  }
}