{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",{
        "alias":{
          "@i18n":"./i18n",
          "@pages":"./pages",
          "@features":"./features",
          "@component":"./features/components",
          "@common":"./features/common"
        }
      }
    ]
  ]
}
