.fanpage__navbar{
    display:flex;
    justify-content: space-around;
    width:100%;
}

.fanpage__navbar__item{
    position:relative;
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
    padding:$smallMargin 0;
    border-bottom:1px solid $primaryBackgroundColor;
    cursor:pointer;
}

.fanpage__navbar__item--active{
    border-bottom:1px solid $primaryColor;
    color:$primaryColor
}

.fanpage__navbar__subscribe{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    border-bottom:1px solid $primaryBackgroundColor;
    border-left:1px solid $primaryBackgroundColor;
    cursor:pointer;
    &:hover .fanpage__navbar__admin-panel{
        display:flex;
        flex-direction: column;
    }
}

.fanpage__navbar__admin-panel{
    position:absolute;
    top:100%;
    left:0;
    right:0;
    left:-1px;
    width:calc(100% + 1px);
    display:none;

}

.fanpage__navbar__admin-panel__item{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid $primaryBackgroundColor;
    padding:$smallMargin 0;
    background-color: #fff;
    color:$primaryTextColor;
    transition:background-color 0.2s;
    &:hover{
        background-color: $secondaryBackgroundColor;
    }
}

.fanpage__navbar__admin-panel__item--no-padding{
    padding:0;
}

.fanpage__navbar__admin-panel__item__label{
    display:flex;
    justify-content: center;
    width:100%;
    padding:$smallMargin 0;
    cursor:pointer;
}

.fanpage__navbar__admin-panel__item__icon{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:5px;
}

.fanpage__navbar__subscribe--mobile{
    display:none;
}

.fanpage__navbar__subscribe--mobile--active{
    color:$primaryColor;
}

.fanpage__navbar__subscribe__icon{
    display:flex;
    align-items: center;
    margin-right:5px;
}

.fanpage__navbar__subscribe--active{
    color:$primaryColor;
}


@media(max-width:1023px)  {
    .fanpage__navbar__subscribe{
        display:none;
    }

    .fanpage__navbar__subscribe--mobile{
        position:fixed;
        bottom:10px;
        right:10px;
        display:flex;
        justify-content: center;
        align-items: center;
        width:35px;
        height:35px;
        border-radius :50%;
        background-color: #fff;
        box-shadow: 0 0 2px 1px $shadowColor;
        z-index:2;
    }
    
    .fanpage__navbar__subscribe--mobile__icon{
        display:flex;
        align-items: center;
        font-size: 2.5rem;
    }
}

