.post__item__comments__container{
    padding:10px;
}
.post__item__comments__container--margin{
    padding-left:45px;
}

.post__item__comments__container__input{
    margin:5px 0 ;
}

.post__item__comments__container__wrapper{
    padding:5px;
}



.post__item__comments__container__wrapper__input{
    margin: 5px 0;
}