
  .messenger__navbar {
    display: flex;
    border-bottom: 1px solid $shadowColor;
    padding: 8px 5px;
  }

.messenger__navbar__return{
    display:none;
}
     
.messenger__navbar__person {
    display: flex;
    cursor:pointer;

    &:hover .messenger__navbar__person__name__text{
        text-decoration: underline;
    }
}

.messenger__navbar__person__icon{
    display:flex;
    align-items: center;
}

.messenger__navbar__person__icon--group{
    width:35px;
    height:35px;
    background-color: $primaryBackgroundColor;
    color:grey;
    border-radius:50%;
}

.messenger__navbar__person__photo__img {
    display: block;
    width:35px;
    height:35px;
    border-radius: 50%;
    object-fit: cover;
}

.messenger__navbar__person__name {
    display:flex;
    align-items: center;
    margin-left: 10px;
}

.messenger__navbar__person__name__text {
    font-size: 1rem;
    font-weight: bold;
}

.messenger__navbar__icons__icon {
    position:absolute;
    top:5px;
    right:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primaryColor;
    cursor: pointer;
    font-size: 1.2rem;
}

@media(max-width:1023px){
    .messenger__navbar__return{
     display:flex;
     align-items: center;
     font-size: 2rem;
     margin-right:$smallMargin;
     color:$primaryColor;
     cursor:pointer;
   }
   }