 
  .card__item__info__second-column__buttons__change-status{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:100%;
    padding-right:5px;
    order:-1;
    visibility:hidden;
    &:hover{
      visibility: visible;
    }
  }
  
  .card__item__info__second-column__buttons__change-status--status {
    display:flex;
    align-items: center;
    position: relative;
  }
   
  .card__item__info__second-column__buttons__change-status__circle  {
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    border-radius: 20px;
    width:70px;
    height:30px;
    padding: 15px;
    order:1;
    cursor: pointer;
  }
  

  @media(max-width:1365px){
    .card__item__info__second-column__buttons__change-status__circle  {
      font-size: 0.7rem;
      border-radius: 15px;
      width:50px;
      height:20px;
      padding: 10px;
    }

}

@media (max-width : 767px) and (orientation:landscape){
   
    .card__item__info__second-column__buttons__change-status__circle  {
      font-size: 0.75rem;
      border-radius: 20px;
      width:80px;
      height:35px;
      padding: 15px;
    }
  }


  @media  (max-width : 639px)  and (orientation:landscape){

    .card__item__info__second-column__buttons__change-status__circle  {
      font-size: 0.7rem;
      border-radius: 20px;
      width:70px;
      height:30px;
      padding: 15px;
    }
  }
  