.authentication__form__wrapper__controls{
  margin-top:$smallMargin;
}

.authentication__form__wrapper__controls__pagination {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.authentication__form__wrapper__controls__pagination__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  background-color: transparent;
  font-size: 2rem;
  color: $primaryColor;
  cursor: pointer;
}

.authentication__form__wrapper__controls__submit-buton {
  display: flex;
  justify-content: center;
  margin-top:$smallMargin;
}

.authentication__form__wrapper__controls--hide-button{
  visibility:hidden;
}

@media (max-width: 767px) and (orientation:portrait){
  .authentication__form__wrapper__controls__pagination__button {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 639px) and (orientation:portrait){
  .authentication__form__wrapper__controls__pagination__button {
    width: 40px;
    height: 40px;
  }
}
