.home-wrapper__main__content__notifications__item {
    display: flex;
    border-bottom: 1px solid $shadowColor;
    padding: 5px 10px;
    transition: 0.2s background-color;
    cursor: pointer;
    &:hover {
      background-color: $secondaryBackgroundColor;
    }
  }
  
  .home-wrapper__main__content__notifications__item__photo {
    width: 45px;
    height: 50px;
    margin-right: $smallMargin;
  }
  
  .home-wrapper__main__content__notifications__item__content {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .home-wrapper__main__content__notifications__item__photo__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .home-wrapper__main__content__notifications__item__content__buttons{
    display:flex;
    justify-items: center;
    align-items: center;
    margin-left:auto;
    font-size: 1.2rem;
  }
  
  .home-wrapper__main__content__notifications__item__content__buttons__accept{
    color:$primaryColor;
    transition:transform 0.2s;
    &:hover{
      transform: scale(1.1);
    }
  }
  .home-wrapper__main__content__notifications__item__content__buttons__decline{
    margin-left:10px;
    color:red;
    transition:transform 0.2s;
    &:hover{
      transform: scale(1.1);
    }
  }
  