.downbar-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .downbar-buttons__icon {
    display: flex;
    transition: 0.2s color;
    cursor: pointer;
  }
  
  .downbar-buttons__icon--number {
    margin-left: 5px;
  }