.primary-input {
  position: relative;
  display: flex;
  height: 50px;
}

.primary-input--x-large {
  width: 100%;
}

.primary-input--large {
  width: 90%;
}

.primary-input--medium {
  width: 80%;
}

.primary-input--small {
  width: 70%;
}

.primary-input__title {
  color: #c1c1c1;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.primary-input-container__input {
  position: absolute;
  bottom: 0;
  border: none;
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #c1c1c1;
  background-color: transparent;
  transition: border-bottom 0.2s;
  &:focus {
    border-bottom-color: $primaryColor;
  }
  &:focus + .primary-input__title {
    color: $primaryColor;
  }
}

.primary-input-container__autocomplete {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height:300px;
  overflow-x: hidden;
  border: 1px solid $shadowColor;
}
.primary-input-container__autocomplete__item {
  padding: 10px 0 10px 10px;
  background-color: #fff;
  z-index: 1;
  transition: background-color 0.2s;
  cursor: pointer;
  &:hover {
    background-color: $secondaryBackgroundColor;
  }
}

.primary-input-container__autocomplete__item__span:not(:last-child) {
  border-bottom: 1px solid $shadowColor;
}

@media(max-width:767px) {
  .primary-input{
    height:35px;
  }
  .primary-input__title {
    font-size: 1rem;
  }
}

@media(max-width:767px) and (orientation:landscape) {
  .primary-input__title {
    font-size: 0.8rem;
  }
  .primary-input{
    height:40px;
  }
}

