.fanpage-about{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.fanpage-about__item{
    display:flex;
    justify-content: space-between;
    margin:0 $smallMargin;
}

.fanpage-about__item__name__span{
    font-weight: bold;
}