.home-wrapper__main__content__friends {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.home-wrapper__main__content__friends__item {
  display: flex;
  width: calc(50% - (#{$small-margin}) - 10px);
  height: 15vh;
  border: 1px solid $secondaryBackgroundColor;
  margin: $small-margin 10px 0 $small-margin;
}

.home-wrapper__main__content__friends__item--picture {
  cursor: pointer;
  width: 30%;
}

.home-wrapper__main__content__friends__item--picture--img {
  display: block;
  width: 100%;
  height: 100%;
}

.home-wrapper__main__content__friends__item__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-wrapper__main__content__friends__item__info__first-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
  margin-left: 5px;
}
.home-wrapper__main__content__friends__item__info__first-column--name--span {
  cursor: pointer;
  color: $primaryColor;
  font-weight: bold;
  transition: 0.2s text-decoration;
  &:hover {
    text-decoration: underline;
  }
}

.home-wrapper__main__content__friends__item__info__first-column--amounts-of-friends--span {
  color: $greyTextAuthColor;
}
.home-wrapper__main__content__friends__item__first-column--status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-wrapper__main__content__friends__item__info__second-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: $small-margin;
}

.home-wrapper__main__content__friends__item--status {
  position: relative;
}

.home-wrapper__main__content__friends__item--status__change-status {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 10px;
  z-index: 1;
  background-color: transparent;
  &:hover {
    display: flex;
  }
  .home-wrapper__main__content__friends__item--status--circle
    + .home-wrapper__main__content__friends__item--status--circle {
    margin-left: 10px;
  }
}

.home-wrapper__main__content__friends__item--status--circle {
  color: white;
  font-size: 0.8rem;
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
  &:hover + .home-wrapper__main__content__friends__item--status__change-status {
    display: flex;
  }
}
