.fixed-container {
  position: relative;
  width: 25vw;
  height: 100vh;
  display: flex;
}

.fixed-container-smaller {
  width: 20vw;
}

.is-close {
  display: none;
}

.reset-margin {
  margin: 0;
}
