.fixed-container {
  position: relative;
  width:300px;
  min-width:300px;
  height: 100vh;
  display: flex;
}

.fixed-container-smaller {
  width: 250px;
  min-width:250px;
}

.is-close {
  display: none;
}

.reset-margin {
  margin: 0;
}

.hover-primary-color:hover {
  color: $primaryColor;
}

.hover-pal-color:hover {
  color: $palColor;
}

.hover-family-color:hover {
  color: $familyColor;
}

.pal-color {
  color: $palColor;
}

.family-color {
  color: $familyColor;
}

.primary-color {
  color: $primaryColor;
}

.primary-background {
  background-color: $primaryColor;
}

.family-background {
  background-color: $familyColor;
}

.pal-background {
  background-color: $palColor;
}

.bold-text {
  font-weight: bold;
}
.brightness-reduce {
  filter: brightness(0.6);
  transition: 0.2s filter;
}

.hover-brightness:hover {
  filter: brightness(0.9);
}
