.messages{
    display:flex;
}

.messages__container{
    display:flex;
    flex-grow:1;
}

.messages__container__conversations{
    width:40%;
}

.messages__container__display{
    width:60%;
}

.messages__container__conversations__item{
    display:flex;
    border-bottom:1px solid $shadowColor;
    cursor:pointer;
    &:hover{
        background-color: $secondaryBackgroundColor;
    }
}

.messages__container__conversations__item__icon--group{
    display:block;
    width:60px;
    height:60px;
    color:grey;
    background-color: $primaryBackgroundColor;
}

.messages__container__conversations__item__photo--img{
    display:block;
    width:60px;
    height:60px;
    object-fit: cover;
}

.messages__container__conversations__item__content{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:10px;
}

.messages__container__conversations__item__content--last-message--span{
    display:-webkit-box;
    text-overflow:ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color:#a8a6a2;
}