.home-wrapper__main__content__notifications__item {
  display: flex;
  border-bottom: 1px solid $shadowColor;
  padding: 5px 10px;
  transition: 0.2s background-color;
  cursor: pointer;
  &:hover {
    background-color: $secondaryBackgroundColor;
  }
}

.home-wrapper__main__content__notifications__item__photo {
  width: 45px;
  height: 50px;
  margin-right: $small-margin;
}

.home-wrapper__main__content__notifications__item__content {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-wrapper__main__content__notifications__item__photo--img {
  display: block;
  width: 100%;
  height: 100%;
}
