.setting-title {
  position: relative;
  border-bottom: 1px solid $primaryBackgroundColor;
  padding: 10px 0;
  padding-left: 10px;
  background-color: #fff;
  z-index: 1;
}

.setting-item-container {
  position: relative;
  background-color: #fff;
  max-height: 300px;
  transition: 0.5s max-height, visibility 0.1s 0s, z-index 0s 0.5s,
    transform 0.3s;
  visibility: visible;
  transform: scaleY(1);
}

.setting-item {
  border-bottom: 1px solid $primaryBackgroundColor;
  padding: 10px 0;
  padding-left: 20px;
  transition: 0.2s background-color;
  cursor: pointer;
  &:hover {
    background-color: $secondaryBackgroundColor;
  }
}

.setting-section-collapse {
  max-height: 0;
  visibility: hidden;
  transition: 0.3s max-height, visibility 0.1s 0.5s, z-index 0s 0.5s,
    transform 0.3s;
  transform: scaleY(0);
}

.setting-title--icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 10px;
  cursor: pointer;
}
.setting-title--icon-active {
  transform: rotate(180deg) translateY(8px);
}

.settings-container {
  display: flex;
}

.settings-container__settings {
  display: flex;
  flex-grow: 1;
  padding-left: 1px;
}

.settings-container__settings__all {
  width: 50%;
  border-right: 1px solid $shadowColor;
  background-color: #fff;
}

.settings-container__settings__all--title {
  position: relative;
  text-align: center;
  padding: $small-margin 0;
  border-bottom: 1px solid $shadowColor;
  background-color: #fff;
  z-index: 1;
}

.settings-container__settings__display {
  width: 50%;
}

.settings-container__settings__display--title {
  position: relative;
  text-align: center;
  padding: $small-margin 0;
  border-bottom: 1px solid $shadowColor;
}

.settings-container__settings__display--title--icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: $primaryColor;
  cursor: pointer;
}

.settings-container__settings__display--form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.settings-container__settings__display--form--input {
  margin-top: $small-margin;
}

.settings-container__settings__display--form--button {
  display: flex;
  justify-content: flex-end;
  margin-top: $small-margin;
}

.settings-container__settings__reminder {
  width: 50%;
}

.settings-container__settings__reminder {
  margin-top: $medium-margin;
  text-align: center;
}

.settings-container__settings__reminder--p {
  margin-top: $small-margin;
}
