.home-wrapper__main__content__post {
  width: 90%;
  margin: $smallMargin auto 0;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px 1px $primaryBackgroundColor;
  cursor: pointer;
}

.home-wrapper__main__content__post_body {
  display: flex;
}

.home-wrapper__main__content__post_body__picture {
  display: block;
  width: 35px;
  height: 35px;
  margin-right: $smallMargin;
}
.home-wrapper__main__content__post_body__picture--img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.home-wrapper__main__content__post_body__text__author--span {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0px;
    background: black;
    transition: 0.2s height;
  }
  &:hover::after {
    height: 1px;
  }
}

.home-wrapper__main__content__post_body__text__author--span {
  font-weight: bold;
}

.home-wrapper__main__content__post__icons {
  margin-top: $smallMargin;
  display: flex;
  justify-content: space-around;
}

.home-wrapper__main__content__post__icons__icon {
  display: flex;
  transition: 0.2s color;
  cursor: pointer;
}

.home-wrapper__main__content__post__icons__icon--amount {
  margin-left: 5px;
}
