@import "./variables.scss";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: $primaryTextColor;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
