$primaryColor: #21bf73;
$primaryTextColor: #292929;
$greyTextAuthColor: #b2b2b2;
$primaryBackgroundColor: #e1e1e1;
$secondardyBackgroundColor: #f2f2f2;
$small-margin: 15px;
$medium-margin: 30px;
$large-margin: 45px;
