.profile__container__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  
  .profile__container__person__photo{
      position: relative;
     
  }

  .profile__container__person__photo--owner{
    &:hover .profile__container__person__photo__overlay{
        display:flex;
    }
  }
 
  .profile__container__person__photo--img {
    display: block;
    width: 300px;
    height: 350px;
    object-fit: cover;
  }

  .profile__container__person__photo__overlay{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.75);
  }

  .profile__container__person__photo__overlay__button{
      width:150px;
      height:50px;
      border:2px solid white;
      color:white;
      display:flex;
      justify-content: center;
      align-items: center;
      cursor:pointer;
      font-size: 1.2rem;
      transition:transform 0.2s;
      &:hover{
          transform:scale(1.05)
      }
  }
  
  .profile__container__person__name {
    margin-bottom: $mediumMargin;
    text-align: center;
  }
  
  .profile__container__person__name--span {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .profile__container__person__add-photo{
    height:40px;
    margin-top:$mediumMargin;
    display:flex;
    justify-content: center;
  }


  
  .profile__container__person__add-photo__text{
    font-weight: bold;
    font-size: 1.3rem;
  }

  .profile__container__person__add-photo__text--green{
    color:$primaryColor;
  }

  .profile__container__person__add-photo__text--red{
    color:red;
  }

  .profile__container__person__add-photo__title{
    display:flex;
    align-items: center;
    font-size: 1.4rem;
  }

  .profile__container__person__add-photo__icon__label{
    margin-left:$smallMargin;
    display:flex;
    justify-items: center;
    font-size: 2.5rem;
    color:$primaryColor;
    cursor:pointer;
  }

  @media(max-width:1023px){

    .profile__container__person{
      flex-direction: row;
      padding-bottom:$smallMargin;
      border-bottom:2px solid $shadowColor;
    }

    .profile__container__person__name{
      display:flex;
      align-items: center;
      margin-left:$smallMargin;
      order:1;
    }

    .profile__container__person__name--span{
      font-size: 1.8rem;
    }

    .profile__container__person__photo--img{
      height:200px;
      width:200px;
      border-radius:50%;
    }
  }
  
  @media (max-width:767px) and (orientation:portrait){
    .profile__container__person__photo--img{
      width:150px;
      height:150px;
    }
  }