.profile__container {
    display: flex;
    width: 75vw;
  }
  
  .profile__container__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  
  .profile__container__person--photo {
    width: 300px;
    height: 350px;
  }
  
  .profile__container__person--photo--img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .profile__container__person--name {
    margin-bottom: $medium-margin;
    text-align: center;
  }
  
  .profile__container__person--name--span {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .profile__container__info {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    border-left: 2px solid $primaryBackgroundColor;
  }
  
  .profile__container__info__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .profile__container__info__container__item {
    cursor: pointer;
    &:hover .profile__container__info__container__item--circle {
      color: $primaryHoverColor;
      border-color: $primaryHoverColor;
      transform: scale(1.05);
    }
  }
  .profile__container__info__container__item--circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid $primaryColor;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: bold;
    color: $primaryColor;
    transition: color 0.2s, border-color 0.2s, transform 0.2s;
  }
  
  .profile__container__info__container__item--circle--span--icon {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  
  .profile__container__info__container__item--name {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    transition: 0.2s color;
  }