.primary-button {
  display: block;
  width: 300px;
  height: 50px;
  background-color: $primaryColor;
  border: 1px solid $primaryColor;
  color: $secondaryBackgroundColor;
  border-radius: 40px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: #16ca73;
  }
}

.primary-button--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

.primary-button--small {
  width: 110px;
  height: 37px;
  font-size: 0.91rem;
}

.primary-button--medium {
  width: 160px;
  height: 45px;
  font-size: 1.15rem;
}

.primary-button--large {
  width: 210px;
  height: 50px;
  font-size: 1.25rem;
}

.primary-button--x-large {
  width: 250px;
  height: 55px;
  font-size: 1.35rem;
}

.primary-button--border {
  border: 1px solid white;
}

@media(max-width:1919px){
  .primary-button--small {
    width: 100px;
    height: 35px;
    font-size: 0.9rem;
  }
  .primary-button--medium {
    width: 150px;
    height: 43px;
    font-size: 1.1rem;
  }
  .primary-button--large {
    width: 200px;
    height: 48px;
    font-size: 1.18rem;
  }
  .primary-button--x-large {
    width: 240px;
    height: 53px;
    font-size: 1.3rem;
  }
}

@media(max-width:1365px){
  .primary-button--small {
    width: 95px;
    height: 33px;
    font-size: 0.88rem;
  }
  .primary-button--medium {
    width: 140px;
    height: 41px;
    font-size: 1.05rem;
  }
  .primary-button--large {
    width: 190px;
    height: 46px;
    font-size: 1.12rem;
  }
  .primary-button--x-large {
    width: 230px;
    height: 51px;
    font-size: 1.25rem;
  }
}

@media(max-width:1023px) and (orientation:portrait){
  .primary-button--small {
    width: 90px;
    height: 31px;
    font-size: 1rem;
  }
  .primary-button--medium {
    width: 140px;
    height: 41px;
    font-size: 1.1rem;
  }
  .primary-button--large {
    width: 180px;
    height: 44px;
    font-size: 1.2rem;
  }
  .primary-button--x-large {
    width: 220px;
    height: 49px;
    font-size: 1.3rem;
  }
}

@media(max-width:1023px) and (orientation:landscape){
  .primary-button--small {
    width: 90px;
    height: 31px;
    font-size: 0.7rem;
  }
  .primary-button--medium {
    width: 140px;
    height: 41px;
    font-size: 0.7rem;
  }
  .primary-button--large {
    width: 180px;
    height: 44px;
    font-size: 0.8rem;
  }
  .primary-button--x-large {
    width: 220px;
    height: 49px;
    font-size: 0.88rem;
  }
}