.home-wrapper__main {
  width: 55vw;
  background-color: hsl(0, 0%, 98%);
}

.home-wrapper__main__search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-wrapper__main__search__form {
  width: 100%;
}

.home-wrapper__main__search__form--input {
  width: calc(100% - (2 * #{$small-margin}));
  border-radius: 30px;
  border: 1px solid $shadowColor;
  padding: 10px 30px;
  margin: $small-margin $small-margin;
  font-size: 1.3rem;
  transition: border-color 0.2s;
  &:focus {
    border-color: $primaryColor;
  }
  &:focus + .home-wrapper__main__search__form--icon {
    color: $primaryColor;
  }
}

.home-wrapper__main__search__form--icon {
  display: flex;
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: grey;
  cursor: pointer;
  transition: color 0.2s;
  background-color: transparent;
  border: none;
}

.home-wrapper__main__content__message {
  background-color: #fff;
  border: 1px solid $primaryBackgroundColor;
  box-shadow: 0 0 3px 2px $secondaryBackgroundColor;
  border-radius: 2px;
  width: 90%;
  margin: 10px auto;
}

.home-wrapper__main__content__message__navbar {
  border-bottom: 1px solid $primaryBackgroundColor;
  padding: 10px 5px;
  font-weight: bold;
}
.home-wrapper__main__content__message--text {
  position: relative;
}
.home-wrapper__main__content__message--text--textarea {
  width: 100%;
  min-height: 50px;
  padding: 5px 75px 5px 5px;
  resize: none;
  border: none;
}

.home-wrapper__main__content__message--text--button {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 70px;
  height: 30px;
  border: none;
  background-color: $primaryColor;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}
