.profile__display{
    flex-grow:1;
    display:flex;
    flex-direction: column;
    min-height:100vh;
}
.profile__display__navbar{
    display:flex;
    width:100%;
    border-bottom:1px solid $shadowColor;
    padding:10px 0 10px 10px;
}

.profile__display__navbar--icon{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor:pointer;
}

.profile__display__navbar--name{
    margin-left:$smallMargin;
    font-size: 1.4rem;
}

.profile__display__content{
    width:100%;
    flex-grow:1;
}

.profile__display__content--about{
    display:flex;
}

.profile__display__content--photos{
    display:flex;
    justify-content: center;
}

.profile__display__content--posts{
    margin:$mediumMargin 0;
}