.post-list__item__comments__container{
    border-top:1px solid $shadowColor;
    padding:10px;
}

.post-list__item__comments__container__item{
    display:flex; 
}
.post-list__item__comments__container__item + .post-list__item__comments__container__item{
    margin-top:$smallMargin;
}

.post-list__item__comments__container__item__photo--img{
    width:30px;
    height:30px;
    border-radius:50%;
}

.post-list__item__comments__container__item__content{
    margin-left:$smallMargin;
    font-size: 0.9rem;
}

.post-list__item__comments__container__item__content__top-bar__user-name--span{
    color:$primaryColor;
    font-weight: bold;
}

.post-list__item__comments__container__item__content__down-bar{
    display:flex;
}

.post-list__item__comments__container__item__content__down-bar--icon{
    display:flex;
    align-items: center;
    margin-top:5px;
    cursor:pointer;
    transition:color 0.2s;
}
.post-list__item__comments__container__item__content__down-bar--icon:nth-child(2){
    margin-left:$smallMargin
}

.post-list__item__comments__container__item__content__down-bar--icon--amount{
    margin-left:5px;
}

