.post-photo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.post-photo__close {
  position: absolute;
  top: 10px;
  left: 10px;
}

.post-photo__forward {
  position: absolute;
  top: 10px;
  right: 10px;
}

.post-photo__circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.post-photo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 85vw;
  max-height: 98vh;
  overflow-y: scroll;
}

.post-photo__container__img {
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 1023px) {
  .post-photo__container {
    margin-top: 8vh;
    max-height: 90vh;
    width: 95vw;
  }
}
