.fanpage{
    display:flex;
    flex-direction: column;
    height:100vh;
}

.fanpage__error{
    display:flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top:$mediumMargin;
}
