.messages{
    display:flex;
}

.messages__container{
    display:flex;
    flex-grow:1;
    flex-basis: 0;
}

.messages__container--mobile{
display:none;
}

.messages__container__display{
    width:60%;
}

.messages__empty{
    flex-grow:1;
    display:flex;
    justify-content: center;
    margin-top: $mediumMargin;
    font-weight: bold;
    font-size: 1.5rem;
}


@media(max-width:1023px){
    .messages__container--desktop{
        display:none;
    }

    .messages__container--mobile{
        display:block;
    }
}